@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Nunito:wght@200;500;700&display=swap');

:root{
  --cinza-escuro: #333;
  --cinza-escuro-darker: #141313;
  --cinza-escuro-darker-2: #080808;
  --cinza-claro: #acacac;
  --cinza: #8a8a8a;
  --vermelho: #d00000;
  --vermelho-escuro: #370617;
  --branco-base: #ffecd1;
  --amarelo-lighter: #ffbd43;
  --amarelo: #faa307;
  --azul-escuro: #03071e;
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;  
  font-size: 1.1rem;
}
p, label, a, span{
  font-weight: 500;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Maven Pro', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
h6{
  font-size: 1.28rem;
}
h5{
  font-size: 1.45rem;
}
h4{
  font-size: 1.6rem;
}
h3{
  font-size: 1.9rem;
}
h2{
  font-size: 2.5rem;
}
h1{
  font-size: 2.125rem;
}
svg{
  display: block;
}

.mb{
  margin-bottom: .5em;
}
.mb-1{
  margin-bottom: 1em;
}
.mb-2{
  margin-bottom: 2em;
}
.mb-3{
  margin-bottom: 3em;
}

.btn{
  padding: .7em 1.6em;
  
  border-radius: 8px;
  
  cursor: pointer;
  background-color: var(--vermelho);
  color: var(--branco-base);
  font-weight: bold;
}
.btn-big{
  font-size: 1.2rem;
}
.btn-small{
  font-size: 1.05rem;
}
.btn-gradient-1{
  background: linear-gradient(135deg, rgba(38,29,32,1) 0%,rgba(106,4,15,1) 43%,rgba(157,2,8,1) 85%,rgba(208,0,0,1) 100%);
}
.btn-search{
  display: inline-block;
  min-width: 16px;
  padding: .1em .75em;
  
  border: none;
  border-left: .7px solid var(--cinza-claro);
  
  vertical-align: middle;
  text-indent: -9999px;
  cursor: pointer;
  background-image: url("./../img/busca.png");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.shadow{
  box-shadow: 0 5px 10px var(--cinza);
}
.shadow-2{
  box-shadow: 0 5px 10px var(--cinza-escuro-darker);
}
.shadow-3{
  box-shadow: 0 5px 10px var(--cinza-escuro-darker-2);
}

.wave-top{
  position: relative;
  z-index: -1;
  top: 5px;
}

footer{
  padding: 80px 3px 0;
  
  background: linear-gradient(to bottom, #000326 0%,#03071e 60%,#010011 99%);
  color: var(--branco-base);
}
header{
  padding: .35em 0;
  width: 100%;
  
  background-color: var(--azul-escuro);
  color: var(--branco-base);
}
header h1{
  font-style: italic;
  color: var(--amarelo);
  text-shadow: 0 0 5px var(--amarelo-lighter);
}
section.container{
  margin: 10px auto;
}
.header-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-items li{
  display: inline-block;
}
.header-nav a{
  display: block;
  padding: 0.6em 1.4em;
  font-weight: 200;
  
  color: var(--branco-base);
}
.header-search{
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  max-width: 20%;
}
.search-bar input{
  display: block;
  flex: 2 1 0;

  display: inline-block;

  border: none;
  color: var(--cinza-escuro);
}
.search-bar input:focus{
  outline: none
}
.search-bar .btn-search{
  flex: 1 0 16px;
}
.search-bar{
  display: flex;
  padding: .1em .55em;
  
  border-radius: 25px;

  background-color: white;
}
.container{
  width: 90%;
  margin: 0 auto;
}
.footer-division{
  display: grid;
  grid-template-columns: 45% auto auto auto;
  grid-column-gap: 1%;
  padding: 50px 0;
}
.footer-division section{
  border-left: 1px solid white;
  padding-left: 10px;
}
.footer-division h4{
  margin-bottom: 10px;
}
.footer-division p{
  text-align: justify;
}
.footer-division li{
  line-height: 1.6em;
}
.footer-division a{
  display: block;
  
  color: var(--branco-base);
}
.topics{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 200px;
  padding: 2em 0;
}
.topics h4{
  color: var(--vermelho-escuro);
}
.topics-bg{
  background-color: #0b1651;
  color: var(--branco-base);
}
.text{
  flex: 2 1 0;
  
  display: flex;
  flex-direction: column;
  row-gap: 1.45em;
}
.text-start{
  align-items: flex-start;
}
.text-end{
  align-items: flex-end;
}
.illustration{
  flex: 1 1 0;
  align-self: stretch;

  position: relative;
}
.illustration img{
  position: absolute;
  height: 125px;
  width: 125px;
}
.first-window{
  width: 100%;
  height: 91vh;

  background-image: url("./../img/sala-cinema.jpg");
  background-size: cover;
}
.first-window .wrapper{
  position: relative;
  min-height: 100%;
}
.first-window .sigin{
  position: absolute;
  top: 3%;
  right: 0;
}
.welcome{
  position: absolute;
  top: 18%;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 1.2em;
  max-width: 40%;

  color: var(--branco-base);
}
.welcome p{
  font-size: 1.15rem;
}
.welcome h2{
  margin-bottom: 0.3em;

  text-shadow: 2px 2px 3px var(--cinza-escuro-darker);
  color: var(--vermelho);
}
.welcome button{
  position: absolute;
  bottom: -25%;
  padding: 1.2em 1.5em;
  
  box-shadow: 3px 3px 5px var(--cinza-escuro-darker);
}
.cards{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 360px;
  grid-column-gap: 3vw;
  width: 95%;
  margin: 0 auto;
}
.cards div{
  padding: 10px 7px;

  border-radius: 12px;
  
  background-color: rgb(180, 221, 167);
}
.copyright{
  background-color: var(--cinza-escuro-darker-2);
  padding: 10px;
}
.copyright p{
  text-indent: 10px;
  font-weight: 200;
}
.copyright span::after{
  content: "\00A9";
}

#yellow-review{
  top: 5px;
  left: 22%;
  z-index: 1;
  transform: scale(1.3)
}
#blue-review{
  top: 100px;
  left: 20%;
  z-index: 3;
}
#green-review{
  right: 15%;
  top: 60px;
  z-index: 2;
  transform: scale(1.2);
}
#cinema{
  position: relative;
  width: 70%;
  height: 80%;
  margin: 0 auto;
}
#video-player{
  left: 10px;
  top: 30px;
  transform: scale(1.3);
  z-index: 1;
}
#video-mobile{
  top: -30px;
  right: 35%;
  transform: scale(0.7);
  z-index: 2;
}
#video-computer{
  right: 10px;
  top: 35px;
  transform: scale(1.2) skew(3deg);
  z-index: 3;
}
